<div class="container">

  <h3>Schedule Your Meeting Here</h3>

  <form class="form-group" [formGroup]="meetingForm" (ngSubmit)="submit()">

    <div class="row">
      <div class="col-5">
        <label for="date">Select the Date</label>
      </div>
      <div class="col-5">
        <input type="date" id="mdate" name="mDate" required class="form-control"
        formControlName="mdate">
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="time">Set Time</label>
      </div>
      <div class="col-5">
        <input type="time" id="time" name="time" required class="form-control"
        formControlName="time">
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="duration">Set Duration</label>
      </div>
      <div class="col-5">
        <input type="time" id="duration" name="duration" required class="form-control"
        formControlName="duration">
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="topic">Meeting Topic</label>
      </div>
      <div class="col-5">
        <input type="text" id="topic" name="topic" required class="form-control"
        formControlName="topic">
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-2">
        <button type="submit" class="btn btn-primary" [disabled]="!meetingForm.valid">Submit</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-danger" (click)=delete()><span class="fas fa-trash"></span></button>
      </div>
    </div>

  </form>
  </div>
