<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Meeting Date</th>
        <th>Meeting Time</th>
        <th>Meeting Topic</th>
        <th>Host Email</th>
        <th>Meeting Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>ebvjefjvbejv</td>
        <td>john@example.com</td>
        <td>ended</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>owiefnkjer</td>
        <td>mary@example.com</td>
        <td>yet to start</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>kedjvlehrk</td>
        <td>july@example.com</td>
        <td>yet to start</td>
      </tr>
    </tbody>
  </table>

</div>
