label{
  font-weight: 600;
}

h2{
  text-align: center;
}

.col-12,
.col-5,
.col-2,
.col-10{
  margin-top: 1.5%;
}

small{
  display: block;
}

.fab{
  font-size: 35px;
  margin-right: 0%;
}

 .r1{
  position: absolute;
  right: 35%;
  top: 20%;
  width: 60%;
}

.r2{
  position: absolute;
  right: 35%;
  top: 40%;
  width: 60%;
}

 .center{
  position: absolute;
  top: 30%;
  left: 50%;
}

