<div class="row">
  <div class="col-sm-12">
    <div class="info">
       <p>"Quarntine can't stop you from meeting friends and family."</p>
       <p> We made the Video conferencing free for everyone which is secure and safe even
         for business meetings!!.
       </p>
    </div>
  </div>
</div>

<img src="assets/conf.jpg" alt="Image" style="width: 55%; float:right">

<div class="button">
    <button class="btn btn-primary btn-lg a"><span class="fas fa-video"></span></button>
    <small>New Meeting</small>
    <button class="btn btn-primary btn-lg a" (click)=scheduleMeeting()><span class="fa fa-calendar"></span></button>
    <small>Schedule</small>
</div>

<div class="form-group input">
  <div class="row">
    <div class="col-sm-6">
      <input type="text" id="Metcod" name="metcod" placeholder="Enter Meeting Code" class="form-control">
      <button type="button" class="btn btn-primary b">Join Meeting</button>
    </div>
  </div>
</div>
