<div class="container">
  <div class="row">
    <div class="col-5">
       <video #mvideo id="mvideo" name="video" style="display: none; width:100%"></video>
    </div>
    <div class="col-5">
       <video #rvideo id="rvideo" name="video" style="display: none; width:100%"></video>
    </div>
  </div>

  <button class="btn btn-primary fas fa-microphone" id="btn1" style="display: none;"
  (click)=changeAudio()></button>
  <button class="btn btn-primary fas fa-video" id="btn2" style="display: none;"
  (click)=changeVideo()></button>
  <button class="btn btn-danger fas fa-phone-alt" id="btn3" style="display: none;"
  (click)=end()></button>
</div>

<div class="container" id="home">
  <div class="row">
  <div class="col-sm-12">
    <div class="info">
       <p>"Quarntine can't stop you from meeting friends and family."</p>
       <p> We made the Video conferencing free for everyone which is secure and safe even
         for business meetings!!.
       </p>
    </div>
  </div>
</div>

<img src="assets/conf.jpg" alt="Image" style="width: 55%; float:right">

<div class="button">
    <button class="btn btn-primary btn-lg a"><span class="fas fa-video" (click)=newMeeting()></span></button>
    <small>New Meeting</small>
    <button class="btn btn-primary btn-lg a" (click)=scheduleMeeting()><span class="fa fa-calendar"></span></button>
    <small>Schedule</small>
</div>

<div class="input">
  <div class="row">
    <div class="col-sm-6">
      <form class="form-group" #mtform="ngForm" (ngSubmit)="joinMeeting()">
        <input type="text" id="metcod" name="metcod" placeholder="Enter Meeting Code"
       class="form-control" [(ngModel)]="meetingId" required minlength="20" maxlength="20">
      <button type="submit" class="btn btn-primary b" [disabled]="!mtform.valid">Join Meeting</button>
      </form>
    </div>
  </div>
</div>

</div>
