<div class="container">

  <div class="row top">
    <div class="col-4">
       <button class="btn btn-info" (click)=back()><span class="fas fa-arrow-left"></span></button>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <h3>User Management</h3>
    </div>
  </div>

  <table class="table table-hover table-striped" *ngIf="!isLoading">
  <thead>
    <tr>
      <th>Sl No</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td><button class="fa fa-trash btn btn-danger" (click)=deleteUser(i)></button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

</div>
