<div class="container">
  <div class="row">
    <div class="col-5">
       <video id="mvideo" #mvideo name="video" style="width: 100%;"></video>
    </div>
    <div class="col-5">
       <video id="rvideo" #rvideo name="video" style="width: 100%;"></video>
    </div>
  </div>
   <div class="row d-flex justify-content-center">
     <div class="col-2">
        <button class="btn btn-primary fas fa-microphone video" (click)=changeAudio()></button>
        <button class="btn btn-primary fas fa-video video" (click)=changeVideo()></button>
        <button class="btn btn-danger fas fa-phone-alt video" (click)=end()></button>
     </div>
   </div>
</div>
