form{
  margin-top: 5%;
}

.col-5{
  margin-left: 2%;
}

.row{
  margin: 1%;
}

h3{
  text-align: center;
  margin-top: 2%;
}

.btn-info{
  background-color: #11baee;
}
.btn-info:hover{
  background-color: #078bb3;
}
