.x{
  width: 20%;
}

.y{
  width: 30%;
}

.a{
  margin-top: 2%;
}

a{
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  background-color: #f1f0f0;
}

.row{
  margin-top: 2%;
}

h2{
  text-align: center;
}

h6.c{
  text-align: center;
}

button{
  width: 100%;
}
